
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
	position: fixed;
	top:0px;	
	left:0px;
	right:0px;
	height:80px;
	z-index: 99999;
}

.content{
	margin-top:80px;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown:hover .dropdown-menu{
  display:block;
}

