
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
	position: fixed;
	top:0px;	
	left:0px;
	right:0px;
	z-index: 99999;
}

.navbar > .navbar-brand{
	height:100%;
}

.navbar > #topBar{
	position: absolute;
	height:20px;
	right:0px;
	top:0px;
}


.navbar > #searchBar{
	position: absolute;
	height:20px;
	bottom:40px;
	left:150px;
}

.navbar > #navbarNav{
	position: absolute;
	height:20px;
	bottom:0px;
	left:150px;
}



.content{
	margin-top:80px;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown:hover .dropdown-menu{
  display:block;
}

